/* WalletIntegration.css */

.connect-button {
    background-color: #00CDCD;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.connect-button:hover {
    background-color: #4CAF50;
}

.wallet-connected {
    background-color: #4CAF50;
    /* Green */
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}