/* App.css */
.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f4f4f4;
}

.cryptocurrency-container {
    margin-bottom: 20px;
}

.wallet-container {
    display: none;
    /* Hide by default */
}

@media (min-width: 768px) {
    .wallet-container {
        display: flex;
        justify-content: center;
        align-items: center;
            width: 80%;
            height: 60px;
            padding: 20px;
            margin-left: 250px;
        }
}
